<!DOCTYPE html>

<html>
<head>
    <title>Page2</title>
</head>
<body>

<h2>Page2</h2>

<p>

    This is the target page of a link from the sample's home page.

    The controller action for this page should throw an exception, so this page should never be rendered.
    (You should never see this page in the browser)

</p>
</body>
</html>
