@{
    Layout = null; // We can leave this null; it's used for layouts (more advanced stuff)

    var viewBagData = ViewBag.Data; // We can extract from the ViewBag things placed by the controller action
}

<!--
This is the view associated with the Index action of the Home controller

Note that views must be in the Views folder, with a folder/file naming pattern matching that of the Controller/Action.

TODO: understand how it relates to the routing template i.e. whether the organization of views must match the
URL naming pattern or whether it will always be Views/{controller}/{action}
-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Hello, World</title>
</head>
<body>
<div>
    Hello @viewBagData
</div>
</body>
</html>