@model HelloWorld2.Models.MySecondModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Linked</title>
</head>
<body>
<div>
    <p>@Model.MyValue</p>
</div>
</body>
</html>